</main>

<footer>

    <div class="footer-nav">
        <details>
            <summary>Snel naar</summary>
        </details>
        <details>
            <summary>Inzichten & inspiratie</summary>
        </details>
        <details>
            <summary>Voor makelaars</summary>
        </details>
        <details>
            <summary>Meer Funda</summary>
        </details>
    </div>

    <div class="footer-social">
        <a href="#">
            <svg width="32" height="32" viewbox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M15.75 5.5C10.0892 5.5 5.5 10.1128 5.5 15.8027C5.5 20.9681 9.28551 25.2329 14.2181 25.978V18.5334H11.6821V15.8252H14.2181V14.0231C14.2181 11.0396 15.6643 9.72972 18.1313 9.72972C19.3128 9.72972 19.9376 9.81776 20.2334 9.85804V12.222H18.5506C17.5032 12.222 17.1375 13.22 17.1375 14.3449V15.8252H20.2069L19.7904 18.5334H17.1375V26C22.1404 25.3177 26 21.0182 26 15.8027C26 10.1128 21.4108 5.5 15.75 5.5Z" fill="#0071B3"/>
            </svg>
        </a>

        <a href="#">
            <svg width="32" height="32" viewbox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M17.8878 14.6218L24.3857 7H22.8459L17.2038 13.6179L12.6975 7H7.5L14.3144 17.0074L7.5 25H9.03987L14.9981 18.0113L19.757 25H24.9545L17.8874 14.6218H17.8878ZM15.7788 17.0956L15.0883 16.0991L9.59471 8.16971H11.9599L16.3933 14.5689L17.0837 15.5655L22.8466 23.8835H20.4815L15.7788 17.096V17.0956Z" fill="#0071B3"/>
            </svg>
        </a>

        <a href="#">
            <svg width="32" height="32" viewbox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M21.338 9.4625C20.6745 9.4625 20.137 10 20.137 10.6625C20.137 11.325 20.6745 11.8625 21.338 11.8625C22.0005 11.8625 22.537 11.325 22.537 10.6625C22.537 10 22.0005 9.4625 21.338 9.4625ZM15.9995 19.3335C14.159 19.3335 12.6665 17.8415 12.6665 16C12.6665 14.159 14.159 12.6665 15.9995 12.6665C17.8405 12.6665 19.333 14.159 19.333 16C19.333 17.8415 17.8405 19.3335 15.9995 19.3335ZM15.9995 10.865C13.164 10.865 10.8645 13.164 10.8645 16C10.8645 18.836 13.164 21.136 15.9995 21.136C18.8355 21.136 21.1345 18.8365 21.1345 16C21.1345 13.164 18.8355 10.865 15.9995 10.865ZM15.9995 6C13.284 6 12.944 6.012 11.8775 6.06C8.2455 6.2265 6.227 8.242 6.0605 11.8765C6.0115 12.944 6 13.2845 6 16C6 18.7155 6.0115 19.0565 6.0595 20.123C6.2265 23.755 8.2415 25.7735 11.8765 25.94C12.944 25.988 13.284 26 15.9995 26C18.7155 26 19.0565 25.988 20.123 25.94C23.7515 25.7735 25.7745 23.758 25.939 20.123C25.988 19.0565 25.9995 18.7155 25.9995 16C25.9995 13.2845 25.988 12.944 25.9395 11.8775C25.776 8.249 23.7585 6.2275 20.124 6.061C19.0565 6.012 18.7155 6 15.9995 6ZM15.9995 7.8025C18.6695 7.8025 18.986 7.8125 20.0415 7.861C22.7515 7.984 24.017 9.27 24.1405 11.96C24.189 13.0145 24.198 13.331 24.198 16.001C24.198 18.6715 24.188 18.9875 24.1405 20.0415C24.016 22.729 22.754 24.0175 20.0415 24.1405C18.986 24.189 18.6715 24.199 15.9995 24.199C13.3295 24.199 13.013 24.189 11.959 24.1405C9.2425 24.0165 7.983 22.725 7.8595 20.041C7.8115 18.9865 7.8015 18.671 7.8015 16C7.8015 13.33 7.812 13.0145 7.8595 11.959C7.984 9.27 9.2465 7.9835 11.959 7.86C13.014 7.8125 13.3295 7.8025 15.9995 7.8025Z" fill="#0071B3"/>
            </svg>
        </a>

        <a href="#">
            <svg width="32" height="32" viewbox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M22.3455 8.65338C19.3425 8.44838 12.6535 8.44938 9.654 8.65338C6.4065 8.87488 6.024 10.8369 6 15.9999C6.024 21.1544 6.4035 23.1244 9.654 23.3469C12.654 23.5509 19.3425 23.5519 22.3455 23.3469C25.5935 23.1249 25.976 21.1634 26 15.9999C25.976 10.8459 25.5965 8.87588 22.3455 8.65338ZM13.5 19.3334V12.6669L20.1665 15.9944L13.5 19.3334Z" fill="#0071B3"/>
            </svg>
        </a>

        <a href="#">
            <svg width="32" height="32" viewbox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M10.885 8.46C10.885 9.81862 9.79258 10.92 8.445 10.92C7.09743 10.92 6.005 9.81862 6.005 8.46C6.005 7.10138 7.09743 6 8.445 6C9.79258 6 10.885 7.10138 10.885 8.46Z" fill="#0071B3"/>
                <path d="M21.145 12.26C19.5187 12.2433 18.0018 13.0776 17.145 14.46V12.665H13.17V26H17.13V19C17.13 17.125 17.995 16 19.63 16C21.13 16 21.875 17.07 21.875 19V26H26V17.56C26 14 23.97 12.26 21.145 12.26Z" fill="#0071B3"/>
                <path d="M10.525 12.665H6.4V26H10.525V12.665Z" fill="#0071B3"/>
            </svg>
        </a>

        <a href="#" class="footer-social-language">
            <svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M15.7725 20.16C16.5065 19.119 17.0955 17.7805 17.4835 16.25H19.9295C19.008 17.963 17.5435 19.3375 15.7725 20.16ZM4.07045 16.25H6.51645C6.90445 17.7805 7.49345 19.119 8.22745 20.16C6.45645 19.3375 4.99195 17.963 4.07045 16.25ZM8.22745 3.8395C7.49345 4.8805 6.90445 6.219 6.51645 7.75H4.07045C4.99195 6.0365 6.45645 4.662 8.22745 3.8395ZM19.9295 7.75H17.4835C17.0955 6.219 16.5065 4.8805 15.7725 3.8395C17.5435 4.662 19.008 6.0365 19.9295 7.75ZM17.785 9.25H20.5665C20.8455 10.1175 21 11.0405 21 12C21 12.959 20.8455 13.882 20.5665 14.75H17.785C17.921 13.872 18 12.953 18 12C18 11.0465 17.921 10.128 17.785 9.25ZM12 3C13.4945 3 15.106 4.8275 15.935 7.75H8.06495C8.89395 4.8275 10.5055 3 12 3ZM2.99995 12C2.99995 11.0405 3.15445 10.1175 3.43345 9.25H6.21495C6.07895 10.128 5.99995 11.0465 5.99995 12C5.99995 12.953 6.07895 13.872 6.21495 14.75H3.43345C3.15445 13.882 2.99995 12.959 2.99995 12ZM7.72595 14.75C7.58145 13.896 7.49995 12.9755 7.49995 12C7.49995 11.024 7.58145 10.104 7.72595 9.25H16.274C16.4185 10.104 16.5 11.024 16.5 12C16.5 12.9755 16.4185 13.896 16.274 14.75H7.72595ZM12 21C10.5055 21 8.89395 19.172 8.06495 16.25H15.935C15.106 19.172 13.4945 21 12 21ZM12 1.5C6.20095 1.5 1.49995 6.201 1.49995 12C1.49995 17.799 6.20095 22.5 12 22.5C17.799 22.5 22.5 17.799 22.5 12C22.5 6.201 17.799 1.5 12 1.5Z" fill="#0071B3"/>
            </svg>
            English
        </a>
    </div>

    <div class="footer-legal">
        <p>© 2001-2024 Funda</p>
        <nav>
            <a href="#">Privacy</a>
            <span>•</span>
            <a href="#">Voorwaarden</a>
            <span>•</span>
            <a href="#">Cookies</a>
            <span>•</span>
        </nav>
        <a href="#">Cookievoorkeuren</a>
    </div>

</footer></body></html>
