<!DOCTYPE html>
<html lang="nl">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Bekijk woningen te koop en bewaar je favorieten.">
        <title>Funda</title>
        <link rel="preconnect" href="https://fdnd-agency.directus.app">
        <link rel="preload" href="/fonts/ProximaNova-Regular.otf" as="font" type="font/otf" crossorigin>
        <link rel="preload" href="/fonts/ProximaNova-Semibold.otf" as="font" type="font/otf" crossorigin>
        <link rel="preload" href="/fonts/ProximaNova-Bold.otf" as="font" type="font/otf" crossorigin>
        <link rel="stylesheet" href="/styles/style.css">
        <link rel="manifest" href="/manifest.json">
        <link rel="icon" type="image/svg+xml" href="/icons/favicon.svg">
        <script src="/script.js" type="module"></script>
    </head>
    <body>
        <main>
          {% render 'partials/header.liquid' %}  