
            <header>
                <nav>

                    <div class="hamburger-menu">
                        <button>
                            <svg width="24" height="24" viewbox="0 0 18 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 0.75C0 0.335786 0.335786 0 0.75 0H15.75C16.1642 0 16.5 0.335786 16.5 0.75C16.5 1.16421 16.1642 1.5 15.75 1.5H0.75C0.335787 1.5 0 1.16421 0 0.75Z" fill="white"/>
                                <path d="M0 5.75C0 5.33579 0.335786 5 0.75 5H17.25C17.6642 5 18 5.33579 18 5.75C18 6.16421 17.6642 6.5 17.25 6.5H0.75C0.335787 6.5 0 6.16421 0 5.75Z" fill="white"/>
                                <path d="M0.75 10C0.335786 10 0 10.3358 0 10.75C0 11.1642 0.335786 11.5 0.75 11.5H11.75C12.1642 11.5 12.5 11.1642 12.5 10.75C12.5 10.3358 12.1642 10 11.75 10H0.75Z" fill="white"/>
                            </svg>
                            <p>menu</p>
                        </button>
                    </div>

                    <a href="#" class="funda-logo">
                        <img src="/icons-header/Logo.svg" alt="Funda logo">
                    </a>

                    <div class="header-buttons">
                        <a href="">
                            <svg width="24" height="24" viewbox="0 0 19 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9.91936 0.2425L18.5254 9.8005C18.8024 10.1085 18.7774 10.5825 18.4699 10.86C18.1619 11.137 17.6879 11.112 17.4109 10.8045L9.35837 1.861L1.30736 10.802C1.03036 11.11 0.556365 11.1345 0.248365 10.8575C-0.0596354 10.5805 -0.0846354 10.106 0.192365 9.7985L8.79886 0.2405C8.80663 0.23162 8.81625 0.225666 8.82584 0.219732C8.83352 0.214975 8.84119 0.21023 8.84786 0.204C8.86021 0.192608 8.87355 0.183419 8.88701 0.174151C8.89481 0.168775 8.90266 0.163374 8.91036 0.1575C8.96836 0.113 9.02886 0.074 9.09436 0.049C9.11664 0.0404624 9.13946 0.0357829 9.16243 0.0310742C9.17039 0.0294405 9.17838 0.0278032 9.18636 0.026C9.24636 0.0115 9.30637 0 9.36736 0C9.40196 0.000843679 9.43619 0.00738171 9.47037 0.0139091C9.4767 0.0151185 9.48303 0.0163276 9.48936 0.0175C9.53936 0.0265 9.58936 0.0355 9.63736 0.0545C9.68686 0.0745 9.73236 0.106 9.77736 0.1375C9.78442 0.142302 9.79151 0.147 9.79859 0.151692C9.82617 0.169959 9.8536 0.188131 9.87786 0.212C9.88358 0.217491 9.89025 0.221516 9.89694 0.225561C9.90488 0.230356 9.91286 0.235177 9.91936 0.2425Z" fill="white"/>
                                <path d="M3.85911 18.0485H14.8591V9.46905L16.3591 11.1351V18.7985C16.3591 19.2121 16.0241 19.5476 15.6106 19.5485H3.10911C2.69461 19.5485 2.35911 19.2131 2.35911 18.7985V11.1356L3.85911 9.46955V18.0485Z" fill="white"/>
                            </svg>
                            Mijn Huis
                        </a>

                        <a href="">
                            <svg width="24" height="24" viewbox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M16.5 1.44139C15.5605 0.532597 14.3071 0.020496 13 0.0113945C11.9176 0.00774785 10.8638 0.359013 10 1.01139C9.62141 1.29617 9.28478 1.63281 9 2.01139C8.71522 1.63281 8.37859 1.29617 8 1.01139C7.13751 0.355273 6.0837 0 5 0C3.91631 0 2.8625 0.355273 2 1.01139C1.37612 1.4744 0.869974 2.07776 0.522524 2.77266C0.175075 3.46756 -0.00392655 4.23448 2.26755e-06 5.01139C2.26755e-06 12.5114 8 17.0114 9 17.0114C10 17.0114 18 12.5114 18 5.01139C17.9999 4.34649 17.8672 3.68828 17.6096 3.07529C17.3521 2.46229 16.9748 1.90683 16.5 1.44139ZM9 15.4414C6.31716 14.114 4.09967 12.0046 2.64 9.39139C1.90838 8.04626 1.517 6.54253 1.5 5.01139C1.50032 4.20802 1.77701 3.42922 2.28361 2.80571C2.79021 2.18221 3.49589 1.75196 4.28218 1.5872C5.06848 1.42243 5.88752 1.53318 6.60182 1.90086C7.31611 2.26853 7.88218 2.87074 8.205 3.60639C8.235 3.67639 8.26 3.75139 8.29 3.82639C8.34024 3.97347 8.43522 4.10115 8.56164 4.19155C8.68806 4.28196 8.83958 4.33056 8.995 4.33056C9.15042 4.33056 9.30195 4.28196 9.42836 4.19155C9.55478 4.10115 9.64976 3.97347 9.7 3.82639C9.725 3.75139 9.755 3.67639 9.785 3.60639C10.1041 2.86461 10.67 2.256 11.3866 1.88373C12.1032 1.51146 12.9265 1.39844 13.7169 1.56382C14.5073 1.7292 15.2162 2.1628 15.7234 2.79114C16.2307 3.41948 16.505 4.20388 16.5 5.01139C16.4871 6.55101 16.0956 8.0638 15.36 9.41639C13.9003 12.0296 11.6828 14.139 9 15.4664V15.4414Z" fill="white"/>
                            </svg>
                            Favorieten
                        </a>

                        <a href="">
                            <svg width="24" height="24" viewbox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 10.5C0 4.70101 4.70101 0 10.5 0C13.2848 0 15.9555 1.10625 17.9246 3.07538C19.8938 5.04451 21 7.71523 21 10.5C21 10.9258 20.9747 11.3457 20.9254 11.7583C20.5136 11.2806 20.0335 10.8634 19.5003 10.522C19.5054 9.43154 19.3122 8.32972 18.9076 7.2704C17.5761 3.78449 14.2315 1.4818 10.5 1.4818C6.76846 1.4818 3.42395 3.78449 2.09245 7.2704C0.760951 10.7563 1.71867 14.7023 4.5 17.19V15.75C4.5008 15.6823 4.51089 15.615 4.53 15.55C4.78 13.555 6.685 12 9 12H10.8762C10.5203 12.4552 10.2237 12.9591 9.99816 13.5H9C8.81745 13.5011 8.63525 13.5161 8.455 13.545C7.06 13.76 6 14.775 6 16V18.28C7.39622 19.0952 8.95857 19.501 10.5202 19.4975C10.862 20.0318 11.2797 20.5129 11.7583 20.9254C11.3457 20.9747 10.9258 21 10.5 21C4.70101 21 0 16.299 0 10.5Z" fill="white"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M6.5 7C6.5 4.79086 8.29086 3 10.5 3C11.5609 3 12.5783 3.42143 13.3284 4.17157C14.0786 4.92172 14.5 5.93913 14.5 7C14.5 9.20914 12.7091 11 10.5 11C8.29086 11 6.5 9.20914 6.5 7ZM8 7C8 8.38071 9.11929 9.5 10.5 9.5C11.8807 9.5 13 8.38071 13 7C13 5.61929 11.8807 4.5 10.5 4.5C9.11929 4.5 8 5.61929 8 7Z" fill="white"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M16.0044 21.0044C18.7658 21.0044 21.0044 18.7658 21.0044 16.0044C21.0044 13.243 18.7658 11.0044 16.0044 11.0044C13.243 11.0044 11.0044 13.243 11.0044 16.0044C11.0044 18.7658 13.243 21.0044 16.0044 21.0044ZM18.0347 13.9741C18.3276 14.267 18.3276 14.7418 18.0347 15.0347L17.0651 16.0044L18.0347 16.9741C18.3276 17.267 18.3276 17.7418 18.0347 18.0347C17.7418 18.3276 17.267 18.3276 16.9741 18.0347L16.0044 17.0651L15.0347 18.0347C14.7418 18.3276 14.267 18.3276 13.9741 18.0347C13.6812 17.7418 13.6812 17.267 13.9741 16.9741L14.9437 16.0044L13.9741 15.0347C13.6812 14.7418 13.6812 14.267 13.9741 13.9741C14.267 13.6812 14.7418 13.6812 15.0347 13.9741L16.0044 14.9437L16.9741 13.9741C17.267 13.6812 17.7418 13.6812 18.0347 13.9741Z" fill="white"/>
                            </svg>
                            Inloggen
                        </a>
                    </div>

                </nav>
            </header>

