<div class="huis-acties">
    <a href="#">
        <svg width="24" height="24" viewbox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M16.5 1.44139C15.5605 0.532597 14.3071 0.020496 13 0.0113945C11.9176 0.00774785 10.8638 0.359013 10 1.01139C9.62141 1.29617 9.28478 1.63281 9 2.01139C8.71522 1.63281 8.37859 1.29617 8 1.01139C7.13751 0.355273 6.0837 0 5 0C3.91631 0 2.8625 0.355273 2 1.01139C1.37612 1.4744 0.869974 2.07776 0.522524 2.77266C0.175075 3.46756 -0.00392655 4.23448 2.26755e-06 5.01139C2.26755e-06 12.5114 8 17.0114 9 17.0114C10 17.0114 18 12.5114 18 5.01139C17.9999 4.34649 17.8672 3.68828 17.6096 3.07529C17.3521 2.46229 16.9748 1.90683 16.5 1.44139ZM9 15.4414C6.31716 14.114 4.09967 12.0046 2.64 9.39139C1.90838 8.04626 1.517 6.54253 1.5 5.01139C1.50032 4.20802 1.77701 3.42922 2.28361 2.80571C2.79021 2.18221 3.49589 1.75196 4.28218 1.5872C5.06848 1.42243 5.88752 1.53318 6.60182 1.90086C7.31611 2.26853 7.88218 2.87074 8.205 3.60639C8.235 3.67639 8.26 3.75139 8.29 3.82639C8.34024 3.97347 8.43522 4.10115 8.56164 4.19155C8.68806 4.28196 8.83958 4.33056 8.995 4.33056C9.15042 4.33056 9.30195 4.28196 9.42836 4.19155C9.55478 4.10115 9.64976 3.97347 9.7 3.82639C9.725 3.75139 9.755 3.67639 9.785 3.60639C10.1041 2.86461 10.67 2.256 11.3866 1.88373C12.1032 1.51146 12.9265 1.39844 13.7169 1.56382C14.5073 1.7292 15.2162 2.1628 15.7234 2.79114C16.2307 3.41948 16.505 4.20388 16.5 5.01139C16.4871 6.55101 16.0956 8.0638 15.36 9.41639C13.9003 12.0296 11.6828 14.139 9 15.4664V15.4414Z" fill="#2a8fd8"/>
        </svg>
        Bewaren
    </a>
    <a href="#">
        <svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M18.0003 15.8954C17.0526 15.8962 16.1609 16.3448 15.5953 17.1054L8.84035 13.2054C9.03815 12.6271 9.05212 12.0019 8.88035 11.4154L15.7303 7.46038C16.7173 8.6041 18.4006 8.83559 19.6596 8.00071C20.9186 7.16583 21.3605 5.52504 20.6909 4.17086C20.0214 2.81668 18.4494 2.17158 17.0216 2.6651C15.5938 3.15862 14.7557 4.63679 15.0653 6.11538L8.12035 10.1154C6.9612 8.95729 5.08728 8.94348 3.91118 10.0843C2.73508 11.2252 2.69192 13.0987 3.81422 14.2925C4.93652 15.4863 6.80909 15.5588 8.02035 14.4554L15.0203 18.5004C14.8559 19.7385 15.4757 20.9489 16.5764 21.5392C17.6771 22.1295 19.0283 21.976 19.9687 21.154C20.909 20.332 21.2417 19.0134 20.8039 17.8437C20.366 16.674 19.2493 15.8979 18.0003 15.8954ZM18.0003 4.00538C18.8288 4.00538 19.5003 4.67695 19.5003 5.50538C19.5003 6.3338 18.8288 7.00538 18.0003 7.00538C17.1719 7.00538 16.5003 6.3338 16.5003 5.50538C16.5003 4.67695 17.1719 4.00538 18.0003 4.00538ZM6.00035 13.7454C5.17192 13.7454 4.50035 13.0738 4.50035 12.2454C4.50035 11.4169 5.17192 10.7454 6.00035 10.7454C6.82878 10.7454 7.50035 11.4169 7.50035 12.2454C7.50035 13.0738 6.82878 13.7454 6.00035 13.7454ZM18.0003 20.3954C17.1719 20.3954 16.5003 19.7238 16.5003 18.8954C16.5003 18.0669 17.1719 17.3954 18.0003 17.3954C18.8288 17.3954 19.5003 18.0669 19.5003 18.8954C19.5003 19.7238 18.8288 20.3954 18.0003 20.3954Z" fill="#2a8fd8"/>
        </svg>
        Delen
    </a>
    <a href="#">
        <svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M19.25 11.5C19.6642 11.5 20 11.1642 20 10.75C20 10.3358 19.6642 10 19.25 10C18.8358 10 18.5 10.3358 18.5 10.75C18.5 11.1642 18.8358 11.5 19.25 11.5Z" fill="#2a8fd8"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M21.25 8H18V3.75C18 3.33579 17.6642 3 17.25 3H6.75C6.33579 3 6 3.33579 6 3.75V8H2.75C2.33579 8 2 8.33579 2 8.75V16.25C2 16.6642 2.33579 17 2.75 17H6V20.25C6 20.6642 6.33579 21 6.75 21H17.25C17.6642 21 18 20.6642 18 20.25V17H21.25C21.6642 17 22 16.6642 22 16.25V8.75C22 8.33579 21.6642 8 21.25 8ZM7.5 4.5H16.5V8H7.5V4.5ZM16.5 19.5V14H7.5V19.5H16.5ZM17.67 12.63C17.5463 12.5454 17.3999 12.5001 17.25 12.5H6.75C6.33579 12.5 6 12.8358 6 13.25V15.5H3.5V9.5H20.5V15.5H18V13.25C17.9995 13.0014 17.876 12.7692 17.67 12.63Z" fill="#2a8fd8"/>
        </svg>
        Pagina afdrukken
    </a>
    <a href="#">
        <svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M13 18V21.5H14.2522C14.6652 21.5 15 21.8329 15 22.25C15 22.6642 14.6602 23 14.2522 23H9.74777C9.33479 23 9 22.6671 9 22.25C9 21.8358 9.33978 21.5 9.74777 21.5H11V18H6.49555C5.66958 18 5 17.3284 5 16.496V4.50397C5 3.67335 5.67089 3 6.49555 3H11V2.00244C11 1.44881 11.4439 1 12 1C12.5523 1 13 1.44695 13 2.00244V3H17.5045C18.3304 3 19 3.67156 19 4.50397V16.496C19 17.3267 18.3291 18 17.5045 18H13ZM17.5 4.50397C17.5 4.50114 6.49555 4.5 6.49555 4.5C6.50055 4.5 6.5 16.496 6.5 16.496C6.5 16.4989 17.5045 16.5 17.5045 16.5C17.5012 16.5 17.5 4.50397 17.5 4.50397ZM8 8.24929C8 7.83547 8.33356 7.5 8.75262 7.5H15.2474C15.663 7.5 16 7.83251 16 8.24929V9.75071C16 10.1645 15.6664 10.5 15.2474 10.5H8.75262C8.33696 10.5 8 10.1675 8 9.75071V8.24929Z" fill="#2a8fd8"/>
        </svg>
        Ik verkoop dit huis
    </a>
    <a href="#">
        <svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M11.2045 9.415C11.2045 9.00079 11.5403 8.665 11.9545 8.665C12.3687 8.665 12.7045 9.00079 12.7045 9.415V15.415C12.7045 15.8292 12.3687 16.165 11.9545 16.165C11.5403 16.165 11.2045 15.8292 11.2045 15.415V9.415Z" fill="#2a8fd8"/>
            <path d="M11.9545 17.165C11.5403 17.165 11.2045 17.5008 11.2045 17.915C11.2045 18.3292 11.5403 18.665 11.9545 18.665C12.3687 18.665 12.7045 18.3292 12.7045 17.915C12.7045 17.5008 12.3687 17.165 11.9545 17.165Z" fill="#2a8fd8"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M22.8895 21.225L22.8495 21.295L22.7945 21.38L22.7445 21.445L22.6995 21.49L22.6395 21.54L22.5795 21.585H22.5395L22.4695 21.615H1.45448L1.35948 21.56H1.31948L1.25448 21.515L1.19948 21.47L1.14948 21.415L1.10448 21.36L1.06448 21.295L1.02948 21.235C1.01999 21.2121 1.01164 21.1887 1.00448 21.165V21.03C1.00304 21.0034 1.00304 20.9766 1.00448 20.95V20.88C0.998507 20.8302 0.998507 20.7798 1.00448 20.73V20.665L1.05448 20.575V20.54L11.3695 2.78L11.3945 2.745L11.4395 2.685L11.4895 2.63L11.5395 2.585L11.6095 2.535H11.6445L11.7195 2.5H12.2745L12.3495 2.535H12.3845L12.4545 2.585L12.4845 2.61L12.5345 2.665L12.5795 2.75L12.6045 2.785L22.8595 20.56V20.6L22.8895 20.67C22.8907 20.695 22.8907 20.72 22.8895 20.745V20.81C22.8913 20.84 22.8913 20.87 22.8895 20.9V20.935C22.8913 20.965 22.8913 20.995 22.8895 21.025V21.085C22.8909 21.1116 22.8909 21.1384 22.8895 21.165V21.225ZM20.9045 20.165L11.9545 4.665L3.00448 20.165H20.9045Z" fill="#2a8fd8"/>
        </svg>
        Meld een fout over dit huis
    </a>
</div>
