<section class="makelaar">
    <h2>Makelaar</h2>
    <div class="makelaar-card">
        <img class="makelaar-logo" src="/icons/logo-nvm@2x.svg" alt="NVM makelaar">
        <div>
            <p class="makelaar-naam">B&M Makelaars</p>
        </div>
    </div>
    <a href="#" class="knop knop-primair">Neem contact op</a>
    <a href="#" class="knop knop-secundair">Vraag een bezichtiging aan</a>
    <a href="#">meld een fout over deze woning</a>
</section>