<Div class="makelaar">
    <div class="makelaar-card">
        <div class="makelaar-header">
            <span class="makelaar-logo">
                <img src="/images/FDS%20-%20Realtor%20Avatar.svg" alt="Logo van B&M Makelaars">
            </span>
            <img class="makelaar-nvm" src="/icons/logo-nvm@2x.svg" alt="Aangesloten bij NVM">
        </div>

        <div class="makelaar-body">
            <p class="makelaar-naam">B&M Makelaars</p>

            <a href="#" class="makelaar-telefoon">
                <img src="/icons/phone@2x.svg" alt="">
                Toon telefoonnummer
            </a>
        </div>

        <div class="makelaar-acties">
            <a href="#" class="knop knop-primair makelaar-contact">
                <img src="/icons/mail@2x.svg" alt="">
                Neem contact op
            </a>
            <a href="#" class="makelaar-bezichtiging">
                <img src="/icons/calendar@2x.svg" alt="">
                Vraag bezichtiging aan
            </a>
        </div>
    </div>

    <a href="#" class="makelaar-fout">Meld een fout over deze woning</a>
</div>