
<section class="offline">
    <img class="offline-icoon" src="/icons/no-internet@2x.svg" alt="" width="96" height="96">
    <h1 class="offline-titel">Je bent offline</h1>
    <p class="offline-tekst">We konden deze pagina niet laden. Controleer je internetverbinding en probeer het opnieuw. Eerder bekeken pagina's blijven beschikbaar.</p>
    <button class="offline-knop" type="button" onclick="location.reload()">Opnieuw proberen</button>
</section>
