<section class="listing-section">
    <h2>Over de buurt</h2>
    <div class="buurt">
        <dl class="buurt-cijfers">
            <div>
                <dt>Inwoners</dt>
                <dd>12.450</dd>
            </div>
            <div>
                <dt>Gezinnen met kinderen</dt>
                <dd>55%</dd>
            </div>
            <div>
                <dt>Gem. vraagprijs / m²</dt>
                <dd>€ 3.078</dd>
            </div>
        </dl>
    </div>
</section>
