<section class="listing-section">
    <h2>Populariteit</h2>
    <div class="populariteit">
        <ul class="populariteit-stats">
            <li>
                <img src="/icons/eye@2x.svg" alt="">
                <span class="stat-getal">75x</span>
                <span class="stat-label">Bekeken</span>
            </li>
            <li>
                <img src="/icons/heart@2x.svg" alt="">
                <span class="stat-getal">12x</span>
                <span class="stat-label">Bewaard</span>
            </li>
            <li>
                <img src="/icons/calendar@2x.svg" alt="">
                <span class="stat-getal">31-12-2024</span>
                <span class="stat-label">Op funda</span>
            </li>
        </ul>
    </div>
</section>
