<section class="listing-section verdiepen">
    <h2>Verder verdiepen</h2>
    <ul class="verdiepen-links">
        <li>
            <a href="#">
                <img src="/icons/auction@2x.svg" alt="">
                Bieden
            </a>
        </li>
        <li>
            <a href="#">
                <img src="/icons/bulb@2x.svg" alt="">
                Verduurzamen
            </a>
        </li>
        <li>
            <a href="#">
                <img src="/icons/mortgage@2x.svg" alt="">
                Hypotheek
            </a>
        </li>
    </ul>
</section>