<section class="listing-section">
    <h2>Vergelijkbaar in de buurt</h2>
    
        <article class="woning-kaart">
            <img src="https://fdnd-agency.directus.app/assets/{{ house.gallery[4].directus_files_id }}" alt="">
            <div class="woning-kaart-info">
                <p class="woning-kaart-adres">{{ house.street }} 71</p>
                <p class="woning-kaart-plaats">{{ house.postal_code }} {{ house.city }}</p>
                <p class="woning-kaart-prijs">€ 245.000 k.k.</p>
                <ul class="woning-kaart-kenmerken">
                    <li>92 m²</li>
                    <li>3 kamers</li>
                </ul>
            </div>
        </article>
    
</section>
