<section class="listing-section">
    <h2>Vergelijkbaar in de buurt</h2>
    
        <article class="woning-kaart">
            <img src="/images/placeholder-huis.jpg" alt="">
            <div class="woning-kaart-info">
                <h2 class="woning-kaart-adres">{{ house.street }} 71</h2>
                <p class="woning-kaart-plaats">{{ house.postal_code }} {{ house.city }}</p>
                <p class="woning-kaart-prijs">€ 245.000 k.k.</p>
                <ul class="woning-kaart-kenmerken">
                    <li>92 m²</li>
                    <li>3 kamers</li>
                </ul>
            </div>
        </article>
    
</section>
