<section class="listing-section">
    <h2>Antwoord op je belangrijke vragen</h2>
    <div class="vragen">
        <details>
            <summary>Wat betekent 'k.k.' en 'v.o.n.'?<img src="/icons/arrow-down@2x.svg" alt="" width="24" height="24"></summary>
            <p>'k.k.' staat voor kosten koper: de kosten voor de overdracht zijn voor de koper. 'v.o.n.' betekent vrij op naam: die kosten zitten al in de prijs.</p>
        </details>
        <details>
            <summary>Hoe weet ik of er al biedingen zijn?<img src="/icons/arrow-down@2x.svg" alt="" width="24" height="24"></summary>
            <p>De makelaar is niet verplicht om biedingen van anderen te delen. Vraag het gerust na bij de verkopend makelaar.</p>
        </details>
        <details>
            <summary>Wat als ik geen bod doe?<img src="/icons/arrow-down@2x.svg" alt="" width="24" height="24"></summary>
            <p>Dan gebeurt er niets. Je zit nergens aan vast tot je samen met de verkoper een koopovereenkomst tekent.</p>
        </details>
    </div>
</section>
