{% render 'partials/head.liquid' %}


{% render 'partials/thumbnail.liquid', house: house, isFavoriet: isFavoriet, images: images %}

<div class="detail-layout">

  {% render 'partials/listing-header.liquid', house: house,  priceFormatted: priceFormatted, pricePerM2: pricePerM2, listedDate: listedDate  %}

  {% render 'partials/omschrijving.liquid', house: house %}

  {% render 'partials/kenmerken.liquid', house: house, priceFormatted: priceFormatted, pricePerM2: pricePerM2, listedDate: listedDate %}

  {% render 'partials/populariteit.liquid' %}

  {% render 'partials/overDeBuurt.liquid', house: house %}

  {% render 'partials/makelaar.liquid' %}

  {% render 'partials/vergelijkbaar.liquid', house: house, images: images %}

  {% render 'partials/vragen.liquid' %}

  {% render 'partials/verdiepen.liquid' %}

</div>

{% render 'partials/bewaar-blok.liquid' %}

{% render 'partials/huis-acties.liquid' %}

{% render 'partials/footer.liquid' %}
