@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/ProximaNova-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/ProximaNova-RegularIt.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/ProximaNova-Semibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/ProximaNova-SemiboldIt.otf') format('opentype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/ProximaNova-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/ProximaNova-BoldIt.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}


:root {

  /* ------------ Primaire kleuren--- */
  --color-oranje:        #ff9b21;
  --color-bruin:         #6a281c;
  --color-wit:           #ffffff;
  --color-gebroken-wit:  #f8f0e6;
  --color-lichtblauw:    #e5f6ff;
  --color-blauw:         #2a8fd8;

  /* ---------- Secundaire kleuren--- */
  --color-donkergrijs:   #333333;
  --color-felblauw:      #64c1ed;
  --color-lichtroze:     #fde9eb;
  --color-lichtgroen:    #ebf6e3;
  --color-roze:          #de737d;
  --color-groen:         #599f7e;

  --font-family:           'Proxima Nova', Arial, sans-serif;

  --font-weight-regular:   400;
  --font-weight-semibold:  600;

  /*110% voor koppen, 150% voor body */
  --line-height-display-headline:   1.1;
  --line-height-body:      1.5;
}



*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
